<table class="table">
		<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>

		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
			
			<th><%= user.introduction %></th>
		</tr>
		<tr>
			<th>Follows</th>
			<th><%= link_to user.followings.count,follows_user_path(user)%></th>
		</tr>
		<tr>
			<th>Followers</th>
			<th><%= link_to user.followers.count,followers_user_path(user)%></th>
		</tr>





</table>

<div class="row">
	<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>

<!-- エラーメッセージ表示-->
<% if user.errors.any? %>
	<h3><%= user.errors.count %>error occurrence</h3><!--エラーメッセ-->
	<ul>
		<% user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>
<!-- エラーメッセージ表示-->